<div class="container">
  <ng-container *ngIf="cart">
    <h5>Votre panier</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOM</th>
          <th scope="col">QUANTITE</th>
          <th scope="col">PRIX UNITAIRE</th>
          <th scope="col">TOTAL</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }} €</td>
          <td>{{ item.price * item.quantity }} €</td>
          <td>
            <a class="btn btn-danger" (click)="delete(item)">Supprimer</a>
          </td>
        </tr>
        <tr>
          <th colspan="4">Total</th>
          <td>{{ total }} €</td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success" (click)="newOrder()">Commander</button>
  </ng-container>
</div>
