<div class="container" style="padding-top: 15px">
  <div class="card" style="max-width: 900px">
    <div class="card-header">Récap de votre commande</div>

    <div class="row">
      <div class="col-md-6">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Nom du Client : {{ cartService.getCustomer().lastname }}
          </li>
          <li class="list-group-item">
            Prénom du Client : {{ cartService.getCustomer().firstname }}
          </li>
          <li class="list-group-item">
            Adresse Client : {{ cartService.getCustomer().address }}
          </li>
          <li class="list-group-item">
            Tel Client : {{ cartService.getCustomer().phone }}
          </li>
          <li class="list-group-item">
            Email : {{ cartService.getCustomer().email }}
          </li>
        </ul>
        <div class="justify-content-md-end my-3">
          <button class="btn btn-danger" (click)="onUpdateCustomer()">
            Modifier vos informations
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Quantité</th>
              <th>Prix</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of cartService.getCart()">
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.quantity }}</td>
              <td>{{ p.price | number: "0.2" }}</td>
            </tr>
            <tr>
              <td colspan="3"><strong> Total : </strong></td>
              <td>{{ cartService.getTotalAmount() | number: "0.2" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer">
      <div class="form-group">
        <label>Numéro de commande : </label>
        <label> ??? </label>
      </div>
      <div class="form-group">
        <label>Date de la commande : </label>
        <label> {{ dateOrder | date: "dd/MM/yyyy" }}</label>
      </div>
      <div class="d-md-flex justify-content-md-end">
        <button
          class="btn btn-success"
          style="max-width: 200px"
          (click)="onOrder()"
        >
          Confirmer la commande
        </button>
      </div>
    </div>
  </div>
</div>
