<div class="container">
  <h4 class="mb-3">Liste de vos formations</h4>
  <a class="btn btn-primary btn-sm" href="#" routerLink="/training/?">Ajouter une formation</a>
  <ng-container *ngIf="(listTrainings | keyvalue)?.length; else empty">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOM</th>
          <th scope="col">DESCRIPTION</th>
          <th scope="col">PRIX</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let training of listTrainings">
          <th scope="row">{{ training.id }}</th>
          <td>{{ training.name }}</td>
          <td>{{ training.description }}</td>
          <td>{{ training.price }} €</td>
          <td>
            <a class="btn btn-warning btn-sm" (click)="onUpdateTraining(training)">Modifier</a>&nbsp;
            <a class="btn btn-danger btn-sm" (click)="deleteTraining(training.id)">Supprimer</a>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #empty>
    <h5>Loading...</h5>
  </ng-template>
</div>

