<div class="container">
  <h5>Veuillez vous connecter pour continuer</h5>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm)"
    class="col-md-4"
  >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        formControlName="username"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <button type="submit" class="btn btn-primary">Se connecter</button>
    <div class="alert alert-danger mt-2" role="alert" *ngIf="displayError">
      Erreur de connexion
    </div>
  </form>
</div>
