<div class="container mt-5">
  <h2>{{ title }}</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSaveTraining(myForm)">
    <div class="row">
      <div class="mb-3 col-md-8">
        <input
          type="hidden"
          class="form-control"
          id="id"
          formControlName="id"
        />
      </div>
      <div class="mb-3 col-md-8">
        <label for="trainingName" class="form-label">Nom de la formation</label>
        <input
          type="text"
          class="form-control"
          id="trainingName"
          formControlName="name"
        />
      </div>
      <div class="mb-3 col-md-4">
        <label for="trainingName" class="form-label">Prix</label>
        <input
          type="number"
          class="form-control"
          id="trainingName"
          min="1"
          formControlName="price"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="trainingName" class="form-label">Description</label>
      <input
        type="text"
        class="form-control"
        id="trainingName"
        formControlName="description"
      />
    </div>
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="category" class="form-label">Categorie</label>
        <!-- <input
          type="text"
          class="form-control"
          id="category"
          formControlName="category"
        /> -->
        <select class="form-select" formControlName="category">
          <option [ngValue]="null" disabled>Choississez la catégorie</option>
          <option
            *ngFor="let cat of categories"
            [ngValue]="cat.id"
          >{{cat.name}}</option>
        </select>
      </div>
    </div>
    <button *ngIf="!status" type="submit" class="btn btn-primary">
      Ajouter
    </button>
    <button *ngIf="status" type="submit" class="btn btn-primary">
      Mise à jour
    </button>
    <div class="text-danger">{{ error }}</div>
  </form>
</div>
